@model GetGuideByIDQueryResult
@{
    ViewData["Title"] = "GetGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>MediatR Rehber Bilgi Düzenleme Sayfası</h1>

<form method="post">
 
    <input type="hidden" asp-for="GuideID"/>

<label>Rehber Adı: </label>
<input type="text" asp-for="Name" class="form-control" />
<br />
 
<label>Açıklama: </label>
    <input type="text" asp-for="Description" class="form-control" />
<br />

<button class="btn btn-outline-info">Kaydet</button>

</form>


