@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ziyaretçi Güncelleme</h1>

<form method="post">

    <input type="hidden" asp-for="VisitorID" />

    <label>Ziyaretçi Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Ziyaretçi Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />

    <label>Ziyaretçi E-Posta</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />

    <label>Ziyaretçi Şehri</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />

    <label>Ziyaretçi Ülke</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Ziyaretçiyi Güncelle</button>

</form>

